# Created by .ignore support plugin (hsz.mobi)
.idea/dictionaries/
/website/mobile/*
/WebPage/website/2018/*
/WebPage/website/2014/*
/WebPage/website/2015/*
/WebPage/website/2016/*
/WebPage/website/2017/*
scraper