*~
temp
*.log
geckodriver*
__pycache__
*.pyc
.~*#
/WebPage/website/logs/
/.ipynb_checkpoints/
/calendar.ipynb
/WebPage/website/2019/*
/WebPage/website/2018/*
/WebPage/website/2014/*
/WebPage/website/2015/*
/WebPage/website/2016/*
/WebPage/website/2017/*
.idea/
/WebPage/website/pc/*
/WebPage/website/mobile/*
!/WebPage/website/css/style.css
WebPage/website/scraped/year2014.csv
WebPage/website/scraped/year2015.csv
WebPage/website/scraped/year2016.csv
WebPage/website/scraped/year2017.csv
WebPage/website/scraped/year2018.csv
WebPage/website/scraped/year2019.csv
/IOS/
