# Byte-compiled / optimized / DLL files
.DS_Store

# Settings
#settings_deployment.py

# Collected Static Files
static/**
**/static/images/ocd-person/*.jpg

__pycache__
downloads

venv/

*~

.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
councilmatic-solr/
councilmatic-website-data/
councilmatic.iml

