*~
temp
*.log
geckodriver*
__pycache__
*.pyc
.~*#
/WebPage/website/logs/
/.ipynb_checkpoints/
/calendar.ipynb
/WebPage/website/index.html
/WebPage/website/upcoming/*
/WebPage/website/2019/*
/WebPage/website/2018/*
/WebPage/website/2014/*
/WebPage/website/2015/*
/WebPage/website/2016/*
/WebPage/website/2017/*
.idea/
/WebPage/website/pc/*
/WebPage/website/mobile/*
!/WebPage/website/css/style.css
WebPage/website/scraped/*
/IOS/
/scraper/.ipynb_checkpoints/*
/year2019.json
test_read_json.py
/scraper_csv/*
/scraper_json/*
