* {
  box-sizing: border-box;
}

html, body {
  background-color: #DDF0C7;
  min-width: 360px;
}

a:link { color: #215276; }              /* unvisited link */
a:hover { color: darkgreen;}          /* mouse over link */
a:active {color: GoldenRod;}          /* selected link */
a:visited {color: #215276;}         /* visited link */

.councilmatic-navbar {
  background-color: #212528;
}

.councilmatic-logo {
  background-color: #fff;
  display: inline-block;
  mask: url(../images/icon_oakland.svg);
  -webkit-mask: url(../images/icon_oakland.svg);
  height: 1.5rem;
  vertical-align: text-top;
  width: 1.5rem;
}

.councilmatic-body-container {
  /* experimentally determined to be just tall enough to show a little of the
   * footer: */
  min-height: 650px;
}

.councilmatic-sidebar {
  background-color: #215276;
  color: #fff;
  padding: 20px 20px 10px 20px;
}

.councilmatic-sidebar__header {
  margin-bottom: 15px;
}

@media screen and (max-width: 568px) {
  .councilmatic-sidebar {
    margin: -16px -15px 15px;
  }
}

.councilmatic-sidebar a {
  color: #fff;
}

.councilmatic-footer {
  background-color: #212528;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.councilmatic-footer a {
  color: #fff;
  text-decoration: underline;
}

/* To center the page */
.light {
  background-color: #fff;
}

/* was 65px, then 23 for margin-left */
.dark {
  margin-left: 0px;
}

.calendar {
  width: 100%;
  padding: 20px 0;
  color: #363b41;
  display: inline-block;
}

.cl_add {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 0 0 65px;
  color: #c2c2c2;
  padding: 11px 13px;
}

.calendar_events {
  color: #A39D9E;
}

.event-day {
  display: block;
  margin-top: 2em;
  margin-bottom: 3em;
}

.event-day__date {
  float: right;
}

.event-day__item {
  color: #363b41;
  margin: 2rem 0;
}

.event-day__item-time {
  display: inline-block;
  margin-right: 2rem;
}

.event-day__item-details {
  font-size: 12px;
  margin-bottom: .5rem;
}

.event-day__item-actions {
  float: right;
  font-size: 14px;
  margin-top: 1px;
  line-height: 24px;
}
.event-day__item-actions > a {
  color: #215276;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

div.content { width: 313px }
