* {
  box-sizing: border-box;
}

html, body {
  background-color: #DDF0C7;
}

a:link { color: green}              /* unvisited link */
a:hover { color: darkgreen;}          /* mouse over link */
a:active {color: GoldenRod;}          /* selected link */
a:visited {color: SaddleBrown;}         /* visited link */

/* To center the page */
.page {
  margin-left:auto;
  margin-right:auto;
  width: 1500px;
}

.container {
  margin: 0px;
  width: 809px;
}

.light {
  background-color: #fff;
}

/* was 65px, then 23 for margin-left */
.dark {
  margin-left: 0px;
  marg

}

.calendar {
  width: 370px;
  box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  color: #363b41;
  display: inline-block;
}

.calendar_header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
  color: #A39D9E;
  font-size: 20px;
}

.calendar_plan {
  margin: 20px 0 40px;
}


.cl_plan {
  width: 100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #005400, #007000);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 30px;
  color: #fff;
}

//.cl_plan {
  width: 100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 30px;
  color: #fff;
}

.cl_copy {
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 0 0 65px;
  color: #c2c2c2;
  padding: 11px 13px;
}

.calendar_events {
  color: #A39D9E;
}

.ce_title {
  font-size: 14px;
}

.event_item {
  margin: 18px 0;
  padding: 5px;
  cursor: pointer;
}
.event_item:hover {
  background-image: linear-gradient(-222deg, #007000, #009000);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

//.event_item:hover {
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.event_item:hover .ei_Dot {
  background-color: #fff;
}
.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
  color: #fff;
}

.ei_Dot, .ei_Title {
  display: inline-block;
}

.ei_Dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #A39D9E;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
  background-color: #FF8494;
}

.ei_Title {
  margin-left: 10px;
  color: #363b41;
}

.ei_Copy {
  font-size: 12px;
  margin-left: 27px;
}

.dark {
  background-image: linear-gradient(-222deg, #646464, #454545);
  color: #fff;
}
.dark .header_title, .dark .ei_Title, .dark .ce_title {
  color: #fff;
}

div.content { width: 313px }
