* {
  box-sizing: border-box;
}

html, body {
  background-color: #DDF0C7;
}

a:link { color: green}              /* unvisited link */
a:hover { color: darkgreen;}          /* mouse over link */
a:active {color: GoldenRod;}          /* selected link */
a:visited {color: SaddleBrown;}         /* visited link */

.councilmatic-logo {
  background-image: url(../images/icon_oakland.svg);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: text-top;
}

/* To center the page */
.light {
  background-color: #fff;
}

/* was 65px, then 23 for margin-left */
.dark {
  margin-left: 0px;
}

.calendar {
  width: 100%;
  padding: 20px 30px;
  color: #363b41;
  display: inline-block;
}

.calendar_plan {
  margin-top: 40px;
  color: #007000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.cl_add {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 0 0 65px;
  color: #c2c2c2;
  padding: 11px 13px;
}

.calendar_events {
  color: #A39D9E;
}

.event_item {
  color: #363b41;
  margin: 2rem 0;
}

.event_item__time {
  color: #007000;
  font-weight: bold;
  display: inline-block;
  margin-right: 2rem;
}

.event_item__details {
  font-size: 12px;
  margin-bottom: .5rem;
}

.event_item__actions {
  font-size: 20px;
}
.event_item__actions > a {
  margin-right: 1rem;
  text-decoration: none;
}

.dark {
  background-image: linear-gradient(-222deg, #646464, #454545);
  color: #fff;
}
.dark .header_title, .dark .ei_Title, .dark .ce_title {
  color: #fff;
}

div.content { width: 313px }
