{% extends "base.html" %}  

{% block page_title %}
  Oakland City Council Agenda
  {% if committee['name'] != 'City Council' %}
  -- {{ committee['name'] }} Committee
  {% endif %}
  {% if past_year %}
  ({{ past_year }})
  {% endif %}
{% endblock %}

{% block body_content %}


<div class="row mt-3">
  <div class="col-xs-12 col-sm-10 order-2 order-sm-1" style="position: inherit;">
    <div class="calendar">
{#      <h1 class="d-inline-block">
        {% if past_year %}
        Past Meetings
        {% else %}
        Upcoming Meetings
        {% endif %}
      </h1>
#}
      <span class="filterspan" style="font-size:20px;cursor:pointer;white-space:nowrap;width:25%;float:left;" onclick="openFilterSidebar()"><i class="fas fa-sliders-h"></i> Filter  
      </span>

      <div style="margin-top: 0.1rem;">
	  {% if past_year %}
  	    {% if 'All Meetings' in str(committee['name']) %}
	    [ All Meetings in {{ past_year }} ]
	    {% else %}
	    [ {{ committee['name'] }} Meetings in {{ past_year }} ]
	    {% endif %}
	  {% else %}
  	    {% if 'All Meetings' in str(committee['name']) %}
	    [ All Upcoming Meetings ]
	    {% else %}
	    [ Upcoming {{ committee['name'] }} Meetings ]
	    {% endif %}
	  {% endif %}
      </div>

      {#
      {% if past_year %}
      <div class="dropdown d-inline-block">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ past_year }}
        </button>

        <div class="dropdown-menu" aria-labelledby="year-dropdown">
          {% for year, link in other_years.items() %}
          <a class="dropdown-item" href="{{ link }}">
            {{ year }}
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      #}

      {% if not meetings %}
      <div class="event-day">
      We couldn't find any scheduled meetings for
      {{ committee['name'] }}.
      </div>
      {% endif %}

      {% for date, events in meetings.items() | sort %}
      <div class="event-day">
          <div class="event-day__datebar"> {{ date | councilmatic_date }}
          <span class="event-day__date" >
            {{ date | format_date }}
          </span>
	  </div>
	  
        {% for event in events %}
	  {% if loop.index != 1 %} <hr style="margin-top:0.1rem; margin-bottom:0.1rem;"> {% endif %} {# divide multiple events in the same day with a horizontal rule #}
        <div class="event-day__item">

          <div class="event-day__item-title">
            <h3>{{ event['EventBodyName'] }}</h3>
            <span class="event-day__timebar"><strong>{{ event['EventTime'] }} </strong> &emsp;
	    {{ event['EventLocation'] }}</span>
          </div>

              <details style="border:thin silver solid;">
                <summary>Agenda
 
       {#   <p style="margin:0; font-size: 1.0rem; color: #808080;">
	    {% for (emoji, topic) in zip(event['TopicEmojis'].split(" "), event['TopicHashtags'].split(" ")) %}
	    {% if loop.index != 1 %} <br> {% endif %} {# don't put line breaks before the first topic in the list #}
       {#     {{ emoji + " " + topic }}
	    {% endfor %}
          </p>
       #}
          {# emojis in flexbox #}
          <div style="margin:0; font-size: 1.0rem; color: #808080;">
            {% for (emoji, topic) in zip(event['TopicEmojis'].split(" "), event['TopicHashtags'].split(" ")) %}
            <div style="white-space: nowrap;">{{ emoji + " " + topic }}</div>
            {% endfor %}
          </div>
	  </summary>
            {% if event.get('EventAgendaDisplayable') %}
                <ul style="list-style: none; padding: 0; margin: 0;">
                  {% for agendaItem in event.get('EventAgenda', []) %}
                    {% if 'EventItemSubject' in agendaItem %}
                      <li>
                        <b>{{ agendaItem['EventItemMatterType'] }}</b> - {{ agendaItem['EventItemSubject'] }}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
		
			  {% if event['EventVideoPath'] and 'zoom' not in str(event['EventVideoPath']) %}
			  <a href="{{ event['EventVideoPath'] }}" title="View Minutes" target="_blank">
			    <i class="far fa-list-alt"></i>
			    Video Minutes
			  </a>
			  {% elif event['EventMinutesFile'] %}
			  <a href="{{ event['EventMinutesFile'] }}" title="View Minutes" target="_blank">
			    <i class="far fa-list-alt"></i>
			    Minutes
			  </a>
			  {% elif event['EventAgendaFile'] %}
			  <a href="{{ event['EventAgendaFile'] }}" title="Full Agenda PDF" target="_blank">
			    Full Agenda PDF
			    <i class="fas fa-external-link-alt fa-xs"></i>
			  </a>
			  <!--<br><br>-->
			  {% else %}
			  Full Agenda is not available

			  {% endif %}


	      {% else %}
	      <br>
              {% endif %}
              </details>

              {% if past_year %}
 	      <button class="button button-remind", style="float: left; color: #808080; pointer-events: none;", disabled><i class="fas fa-calendar-plus"></i> Remind</button>
	      {% else %}
 	      <button class="button button-remind", style="float: left;", onclick="toggleCalendarLinks({{ event['EventId'] }})"><i class="fas fa-calendar-plus"></i> Remind</button>
	      {% endif %}
		<!--	      https://calendar.google.com/calendar/r/eventedit?text=My+Custom+Event&dates=20180512T230000Z/20180513T030000Z&details=For+details,+link+here:+https://example.com/tickets-43251101208&location=Garage+Boston+-+20+Linden+Street+-+Allston,+MA+02134-->
		{% if 'granicus' in str(event['EventVideoPath']) %} {# if link contains oakland.granicus then it is live #}
		<button class="button button-stream", style="float: right;", onclick="window.location.href='{{ event['EventVideoPath'] }}&embed=1';"><i class="fas fa-video"></i> Stream</a></button>
                {% elif 'zoom' in str(event['EventVideoPath']) %} {# if link contains zoom then it is live #}
	        <button class="button button-stream", style="float: right;", onclick="window.location.href='{{ event['EventVideoPath'] }}';"><i class="fas fa-users"></i> Join</a></button>
                {% else %}
                <button class="button button-stream-dead", style="float: right;", disabled, title="meeting link not available yet"><i class="fas fa-video"></i> </a></button>
                {% endif %}
              {% if not past_year %}
              <p id="calendar-buttons-{{ event['EventId'] }}", style="display: none; margin: 0;">
		<button class="button button-calendar", style="float: left; white-space: nowrap;", onclick="window.location.href='https://calendar.google.com/calendar/r/eventedit?text={{ re.sub(' ','+',re.sub('&','and',str(event['EventBodyName']))) }}&dates={{ date | format_date_google_calendar }}T{{ str(event['EventTime']) | format_time_google_calendar }}/{{ date | format_date_google_calendar }}T{{ int(str(event['EventTime']) | format_time_google_calendar) + 10000 }}&details=For+details,+link+here:+{{ re.sub(' ', '+',str(event['EventInSiteURL'])) }}&location={{ re.sub(' ', '+',str(event['EventLocation'])) }}'"><i class="fab fa-google"></i>Google</button>
		<button class="button button-calendar", style="float: left; white-space: nowrap;", onclick="window.location.href='/{{ path_from_root }}calendars/{{ event['EventId'] }}.ics'"><i class="fab fa-apple"></i>Apple</button>
		<button class="button button-calendar", style="float: left; white-space: nowrap;", onclick="window.location.href='https://outlook.office.com/calendar/0/deeplink/compose?body=For details, link here: {{ str(event['EventInSiteURL']) }}&enddt={{ date | format_date_outlook_calendar }}T{{ str(event['EventTime']) | format_endtime_outlook_calendar }}&location={{ str(event['EventLocation']) }}&path=%2Fcalendar%2Faction%2Fcompose&startdt={{ date | format_date_outlook_calendar }}T{{ str(event['EventTime']) | format_starttime_outlook_calendar }}&subject={{ re.sub('&','and',str(event['EventBodyName'])) }}'"><i class="fab fa-windows"></i>Outlook</button>
		<button class="button button-calendar", style="float: left; white-space: nowrap;", onclick="window.location.href='/{{ path_from_root }}calendars/{{ event['EventId'] }}.ics'"><i class="far fa-star"></i>Other</button>
		<!--	      <button class="button button-remind", style="float: left;"><i class="fas fa-calendar-plus"></i> Remind</button>-->
	      </p>
	      {% endif %}
            </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
