{% extends "base.html" %}
{% block page_title %}
  Oakland City Council Agenda
  {% if committee['name'] != 'City Council' %}
  -- {{ committee['name'] }} Committee
  {% endif %}
  {% if past_year %}
  ({{ past_year }})
  {% endif %}
{% endblock %}

{% block body_content %}
<div class="row mt-3">
  <div class="col-8">
    <div class="calendar">
      <h1 class="header_title">Meeting Schedule</h1>

      <p>
      {% if past_year %}
      <a href="../upcoming/{{ committee['slug'] }}.html">Upcoming</a> / Past
      {% else %}
      Upcoming / <a href="../2019/{{ committee['slug'] }}.html">Past</a>
      {% endif %}
      </p>

      <h3>Filter by Committee</h3>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="committeeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ committee['name'] }}
        </button>

        <div class="dropdown-menu" aria-labelledby="committees-dropdown">
          {% for committee_name, committee_link in other_committees.items() %}
          <a class="dropdown-item" href="{{ committee_link }}">
            {{ committee_name }}
          </a>
          {% endfor %}
        </div>
      </div>

      {% if past_year %}
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ past_year }}
        </button>

        <div class="dropdown-menu" aria-labelledby="year-dropdown">
          {% for year, link in other_years.items() %}
          <a class="dropdown-item" href="{{ link }}">
            {{ year }}
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% for date, events in meetings.items() | sort %}
      <div class="calendar_plan">
        <i class="fas fa-calendar-day"></i>
        &nbsp;{{ date.strftime("%A") }}
        &middot;
        {{ date.strftime("%m/%d/%Y") }}
      </div>

      {% for event in events %}
      <div class="event_item">
        <span class="event_item__time">{{ event['meeting_time'] }}</span>

        <div class="event_item__details">
          <font size="+1">{{ event['name'] }}</font> <br/>
          {{ event['meeting_location'] }}
        </div>

        <div class="event_item__actions">
          <a href="{{ event['calendar_link'] }}" title="Add to Calendar">
            <i class="far fa-calendar-plus"></i>
          </a>

          <a href="{{ event['agenda'] }}" title="View Agenda" target="_blank">
            <i class="far fa-list-alt"></i>
          </a>

        </div>
      </div>
      {% endfor %}
      {% endfor %}

      <hr class="light" style="height: 0px; margin-left: auto; margin-right: auto;">
      <div style="text-align: center;"><a href="http://www.openoakland.org"
                                          style="background-color: #DDF0C7; color: green; display: block; padding: 5px;">
          Created by OpenOakland</a></div>
      <br>
      <div style="text-align: center;"><img src="../images/openoakland-32.jpg"
                                            alt="OpenOakland Logo"></div>
      <div style="text-align: center;"><i><br>
        </i></div>
      <div align="center">
      <a href="https://twitter.com/OCouncilmatic?ref_src=twsrc%5Etfw" class="twitter-follow-button"
          data-show-count="false">Follow @OCouncilmatic</a><script
              async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div>
        <div style="text-align: center;"><i>Disclaimer - Beta Code - Check Accuracy</i><br>
        <font size="-1">Updated: {{ now.strftime("%A, %B %d, %Y at %I:%M %p") }}<br> </font></p>
          <i> <a href="mailto:councilmatic@openoakland.org?subject=Feedback%20for%20Oakland%20Councilmatic"
                title="Report bugs"
                style="background-color: #DDF0C7; color: green; display: block; padding: 5px;">
              Report bugs and suggestions to us</a></i><a href="https://solar.oaklandnet.com/Speaker/form"
                                                          style="background-color: #DDF0C7; color: green; display: block; padding: 5px;">Sign
                                                          up to speak at a council meeting</a> <br>
        </div>
    </div>
  </div>

  <div class="col-4">
    Sidebar goes here
  </div>
</div>
{% endblock %}
