{% extends "base.html" %}  
{% block page_title %}
  Oakland City Council Agenda
  {% if committee['name'] != 'City Council' %}
  -- {{ committee['name'] }} Committee
  {% endif %}
  {% if past_year %}
  ({{ past_year }})
  {% endif %}
{% endblock %}

{% block body_content %}
<div class="row mt-3">
  <div class="col-xs-12 col-sm-7 order-2 order-sm-1">
    <div class="calendar">
      <h1 class="d-inline-block">
        {% if past_year %}
        Previous Meetings
        {% else %}
        Upcoming Meetings
        {% endif %}
      </h1>

      <p class="d-inline-block ml-lg-2 text-nowrap">
        {% if past_year %}
        <a href="../upcoming/{{ committee['slug'] }}.html" class="councilmatic-title-link">View Upcoming Meetings</a>
        {% else %}
        <a href="../2019/{{ committee['slug'] }}.html" class="councilmatic-title-link">View Previous Meetings</a>
        {% endif %}
      </p>

      <h3>Filter by Committee</h3>
      <div class="dropdown d-inline-block">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="committeeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ committee['name'] }}
        </button>

        <div class="dropdown-menu" aria-labelledby="committees-dropdown">
          {% for committee_name, committee_link in other_committees.items() %}
          <a class="dropdown-item" href="{{ committee_link }}">
            {{ committee_name }}
          </a>
          {% endfor %}
        </div>
      </div>

      {% if past_year %}
      <div class="dropdown d-inline-block">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ past_year }}
        </button>

        <div class="dropdown-menu" aria-labelledby="year-dropdown">
          {% for year, link in other_years.items() %}
          <a class="dropdown-item" href="{{ link }}">
            {{ year }}
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if not meetings %}
      <div class="event-day">
      We couldn't find any scheduled meetings for
      {{ committee['name'] }}.
      </div>
      {% endif %}

      {% for date, events in meetings.items() | sort %}
      <div class="event-day">
        <h4>
          {{ date | councilmatic_date }}
          <span class="event-day__date" >
            {{ date | format_date }}
          </span>
        </h4>

        {% for event in events %}
        <div class="event-day__item">
          <h5 class="event-day__item-time">
            {{ event['EventTime'] }}
          </h5>

          <div class="event-day__item-actions">
            {% if event['EventMinutesFile'] %}
            <a href="{{ event['EventMinutesFile'] }}" title="View Minutes" target="_blank">
              <i class="far fa-list-alt"></i>
              PDF Minutes
            </a>
            {% else %}
            <a href="{{ event['EventAgendaFile'] }}" title="View Agenda" target="_blank">
              <i class="far fa-list-alt"></i>
              PDF Agenda
            </a>

            {% endif %}
          </div>

          <div class="event-day__item-details">
            <font size="+1">{{ event['EventBodyName'] }}</font> <br/>
            {{ event['EventLocation'] }}
            {% if event.get('EventAgendaDisplayable') %}
              <details>
                <summary class="mb-3">Meeting Agenda</summary>
                <ul>
                  {% for agendaItem in event.get('EventAgenda', []) %}
                    {% if 'EventItemSubject' in agendaItem %}
                      <li>
                        <b>{{ agendaItem['EventItemMatterType'] }}</b> - {{ agendaItem['EventItemSubject'] }}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </details>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 offset-sm-1 order-1 order-sm-2">
      <div class="councilmatic-sidebar">
          <h3 class="councilmatic-sidebar__header d-none d-sm-block">Additional Services</h3>

          <p>
              <a href="https://www.oaklandca.gov/departments/oakland-city-council" target="_blank">
                  Oakland City Council
                  <i class="fas fa-external-link-alt fa-xs"></i>
              </a>
          <p>

              <a href="http://gisapps.mapoakland.com/councildistricts/" target="_blank">
                  Find Your District &amp; Representative
                  <i class="fas fa-external-link-alt fa-xs"></i>
              </a>

          <p>
              <a href="https://www.oaklandca.gov/services/order-an-agenda-packet" target="_blank">
                  Subscribe to Meeting Notes
                  <i class="fas fa-external-link-alt fa-xs"></i>
              </a>

          <p>
          <a href="https://www.oaklandca.gov/services/request-a-city-council-agenda-item" target="_blank">
              Request an Agenda Item
              <i class="fas fa-external-link-alt fa-xs"></i>
          </a>

      <p>
      <a href="https://solar.oaklandnet.com/Speaker/form" target="_blank">
        Sign Up to Speak
        <i class="fas fa-external-link-alt fa-xs"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}
