{% extends "base.html" %}
{% block page_title %}
  Oakland City Council Agenda
  {% if committee['name'] != 'City Council' %}
  -- {{ committee['name'] }} Committee
  {% endif %}
  {% if past_year %}
  ({{ past_year }})
  {% endif %}
{% endblock %}

{% block body_content %}
<div class="row mt-3">
  <div class="col-xs-12 col-sm-8 order-2 order-sm-1">
    <div class="calendar">
      <h1 class="header_title">Meeting Schedule</h1>

      <p>
      {% if past_year %}
      <a href="../upcoming/{{ committee['slug'] }}.html">Upcoming</a> / Past
      {% else %}
      Upcoming / <a href="../2019/{{ committee['slug'] }}.html">Past</a>
      {% endif %}
      </p>

      <h3>Filter by Committee</h3>
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="committeeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ committee['name'] }}
        </button>

        <div class="dropdown-menu" aria-labelledby="committees-dropdown">
          {% for committee_name, committee_link in other_committees.items() %}
          <a class="dropdown-item" href="{{ committee_link }}">
            {{ committee_name }}
          </a>
          {% endfor %}
        </div>
      </div>

      {% if past_year %}
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ past_year }}
        </button>

        <div class="dropdown-menu" aria-labelledby="year-dropdown">
          {% for year, link in other_years.items() %}
          <a class="dropdown-item" href="{{ link }}">
            {{ year }}
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% for date, events in meetings.items() | sort %}
      <div class="calendar_plan">
        <i class="fas fa-calendar-day"></i>
        &nbsp;{{ date.strftime("%A") }}
        &middot;
        {{ date.strftime("%m/%d/%Y") }}
      </div>

      {% for event in events %}
      <div class="event_item">
        <span class="event_item__time">{{ event['meeting_time'] }}</span>

        <div class="event_item__details">
          <font size="+1">{{ event['name'] }}</font> <br/>
          {{ event['meeting_location'] }}
        </div>

        <div class="event_item__actions">
          <a href="{{ event['calendar_link'] }}" title="Add to Calendar">
            <i class="far fa-calendar-plus"></i>
          </a>

          <a href="{{ event['agenda'] }}" title="View Agenda" target="_blank">
            <i class="far fa-list-alt"></i>
          </a>

        </div>
      </div>
      {% endfor %}
      {% endfor %}

    </div>
  </div>

  <div class="col-xs-12 col-sm-4 order-1 order-sm-2">
    <div class="councilmatic-sidebar">
      <h3 class="councilmatic-sidebar__header">Additional Services</h3>

      <p>
      <a href="http://gisapps.mapoakland.com/councildistricts/" target="_blank">
        Find Your District &amp; Representative
        <i class="fas fa-external-link-alt fa-xs"></i>
      </a>

      <p>
      <a href="https://www.oaklandca.gov/services/order-an-agenda-packet" target="_blank">
        Subscribe to Meeting Notes
        <i class="fas fa-external-link-alt fa-xs"></i>
      </a>

      <p>
      <a href="https://www.oaklandca.gov/services/request-a-city-council-agenda-item" target="_blank">
        Request an Agenda Item
        <i class="fas fa-external-link-alt fa-xs"></i>
      </a>

      <p>
      <a href="https://solar.oaklandnet.com/Speaker/form" target="_blank">
        Sign Up to Speak
        <i class="fas fa-external-link-alt fa-xs"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}
