:root {
  --navy-blue-color: #2f56a6;
  --govt-gray-color: #767676;
  --salmon-color: #EB6864;
  --smoky-gray-color: #545454;
}

/* Home page */
#section-photo h2 {
    color: #fff;
    padding-top: 1em;
    font-size: 36px;
}

#section-photo{
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.875),
        rgba(160, 160, 160, 0.1)
        ),
        url('../images/nyc-hall-cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
}

.photo-credit{
    color: #ccc;
    font-size: 8px;
}

#section-events{
    background-color: #F8F8F8;
}
#description-text{
    background-color: #F0F0F0;
    padding-top: 30px;
}
#description-text p {
    font-size: 20px;
}
#description-text, #section-recently-passed, #section-events{
    padding-bottom: 30px;
}

.well-featured{
    border: none;
    background-color: #F8F8F8;

}
.well-featured > h3{
    margin-top: 0;
}

/* Labels, Buttons */
.label-enacted{
    background-color: #22B24C;
}

.label-failed {
    background-color: var(--smoky-gray-color);
}

.label-expired {
    background-color: var(--smoky-gray-color);
}

.label-inactive {
    background-color: var(--govt-gray-color);
}

.btn-link {
    padding: 0;
    font-size: 16px;
}

.beta, .label-beta {
    background-color: transparent;
    color: #C2C2C2;
    border: 1px solid #E0E0E0;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
    padding: .1em .4em .1em;
}

/* General styles for integration with council.nyc.gov */
/* These styles originate in the council.nyc.gov app.css stylesheet. However, Councilmatic uses the "computed" values in pixels, in place of rem values. */
body {
    color: #222;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 92px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

p {
    font-weight: 400;
    font-size: 16px;    
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    margin-bottom: 16px;
}

a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
    color: var(--navy-blue-color);
}

a:hover {
    color: #23417d;
    text-decoration: none;
}

.pd-top-lg {
    padding-top: 102px;
}

.neg-margin {
    margin-top: -76px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    color: var(--navy-blue-color);
    border-bottom: 8px solid var(--navy-blue-color);
}

.nav-pills > li > a {
    color: var(--navy-blue-color);
}

.btn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.btn-primary {
    background-color: var(--navy-blue-color);
    border-color: var(--navy-blue-color);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #28498d;
    border-color: #28498d;
}

.btn-info {
    background-color: var(--salmon-color);
    border-color: var(--salmon-color);
}

.btn-info:hover {
    background-color: #e22620;
    border-color: #e22620;
}

.btn-default {
    background-color: var(--govt-gray-color);
    border-color: var(--govt-gray-color);
}

.input-lg {
    height: 55px;
}

.badge-default {
    background-color: var(--navy-blue-color);
}

.modal-body > p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #222;
}

.alert-signup { margin-top: 5%; }

.alert-info {
    background-color: #FDEDED;
    color: var(--salmon-color);
    border-color: #F8CAC9;
}

.alert-info a {
    color: var(--salmon-color);
    font-weight: bold;
}

.pagination>li>a, .pagination>li>span {
    color: var(--navy-blue-color);
}

.pagination>li>a:hover {
    color: #28498d;
}

.label-active {
    background-color: var(--salmon-color);
}

p.search-result, .search-result > a {
    font-size: 16px;
    margin: 0 0 8px;
}

.text-preview {
    font-family: "Times New Roman";
    font-size:12pt;
    color:#000000;
}

.tooltip-inner {
    background-color: var(--govt-gray-color);
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.tooltip.in {
  opacity: 0.98;
  filter: alpha(opacity=100);
}

.tooltip.top .tooltip-arrow {
    border-top-color: var(--govt-gray-color);
}

/* 
Navbar from council.nyc.gov. 
N.B. .navbar-brand is nearly equivalent to .site-logo NYC site 
*/
.navbar {
    min-height: 87.1875px;
    box-shadow: 0 4px 0 rgba(0,0,0,.1), 0 4px 0 rgba(0,0,0,.1);
    border: none;
}

.navbar > .container .navbar-brand {
    text-transform: none; 
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.navbar-brand a {
    padding: 16px;
    line-height: 58px;
    display: inline-block;
}

.navbar-brand img {
    display: inline-block;
    margin-right: 11px;
}

#logo { height: 44px; }

.navbar-default .navbar-brand { color: var(--navy-blue-color); }

.navbar-default .navbar-brand:hover {
    color: #23417d;
    background-color: transparent;
}

#nav-items li {
    height: 58px;
    font-size: 13px;
}

#nav-items ul.dropdown-menu li {
    height: 24px;
}

#nav-items ul.dropdown-menu .divider { height: 1px; }

#nav-items > li > a, #nav-items > li > .dropdown > a {
    line-height: 58px;
    padding-top: 17px;
    padding-bottom: 17px;
}

#nav-items > li > a, #nav-items > li > .dropdown > a {
    color: var(--navy-blue-color);
}

#nav-items > li > a:hover, #nav-items > li > .dropdown > a:hover {
  color: #23417d;
  background-color: #f9f9f9;
}

.dropdown-menu > li.non-link {
    padding: 3px 20px;
}

/* Preview for widget */
#widget-nav .navbar-brand {
    text-transform: none; 
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
}

/* Hamburger icon */
.navbar-default .navbar-toggle {
    border: none;
    padding-right: 9px;
}

.navbar-toggle { margin-right: 0; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar { 
    background-color: #222; 
    border-radius: 0;
    margin-bottom: 5px;
    width: 20px;
}

/* Footer styles from council.nyc.gov */
.footer {
  text-align: left;
  padding: 48px 0 64px;
  background-color: #e6e6e6;
  text-rendering: optimizeLegibility;
  /* Line across the top */
  box-shadow: inset 0 4px 0 #CFCFCF;
  border-top: 0;
}

.footer h4 {
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

/* Footer social media buttons */
.footer ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.menu.simple li {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-left: 0;
    margin-right: 16px;
}

.social-buttons a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 16px 0;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: var(--navy-blue-color);
    color: #fff; 
}

.inline-icon.large, .social-buttons img.large { height: 36px; }

.menu>li>a img { vertical-align: middle; }

.footer img { margin: 6px; }


@media only screen and (max-width : 767px) {
    body {
        padding-top: 40px;
    }
    #section-photo h2 {
        font-size: 28px;
    }
    .navbar > .container .navbar-brand {
      font-size: 14px;
      letter-spacing: 0; 
      width: 50%;
    } 
    .navbar {
      min-height: 65.1875px;
    }
    .navbar-brand img {
        margin-right: 4px;
    }
    #nav-items li {
        float: none;
    }
    #nav-items > li > a {
        font-size: 13px;
    }
    #logo {
        height: 28px;
        top: -4px;
    }
    th, ul > li {
        font-size: 16px;
    }
}
